body {
  margin: 0;
  background-color: whitesmoke;
  color: black;
  overflow: scroll;
}

/* * {
  box-sizing: border-box;
} */

.leftsection {
  width: 40%;
  position: fixed;
  float: left;
  padding: 10px;
  border: 1px solid rgb(231, 110, 110);
}

.midsection {
  align-self: center;
  width: 90%;
  margin-left: 5px;
  float: left;
  padding: 30px;
  border: 1px solid rgb(110, 188, 207);
}

.menu {
  padding: 2px;
  margin-bottom: 5px;
  background-color: #858f2c;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.flex-container {
  background-color: rgb(19, 219, 219);
  width: 70%;
  margin: 5px;
  align-items: center;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}

#top {
  border: 1px solid black;
  height: 3000px;
}

#bottom {
  border: 1px solid red;
}
.aa {
  color: tomato;
}

.navbarcontainer {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: white;
}
