{% extends 'base.html' %}


{% block content %}

<style>
    body{
        background-image: url('C:/Users/VIKRAM/OneDrive/Pictures/Random pics/social_media.png');
    }
</style>

{% if user.is_authenticated %}
<br>


<div class="card">
    <div class="card-body">
        {% for post in post_list %}
            {% include 'posts/_post.html' %}
        {% endfor %}
        </div>
    </div>
</div>

{% else %}
<center>
    <h2>Welcome to Social Media</h2>
    <p>Please <a href="{% url 'accounts:login'%}">Login</a> to continue...</p>
    <p>No account? <a href="{% url 'accounts:signup'%}">SignUp</a></p>
    <img src="static/images/social_media.png" alt="No found" style="width:700px;height:450px";>
    
</center>

{% endif %}
    
{% endblock content %}
    